// Define desired color palettes.
$primary: "red";
$accent: "blue";
$background: "grey";
$warn: "yellow";

// dependencies
@import 'ember-paper';

// routes
@import 'choose-course';

// components
@import 'navigation';
@import 'gp-cup';

html, body {
  background-color: color($background, '100');
}

.page-title {
  padding-left: 18px;
}

#add-gp {
  md-icon {
    color: color($accent, 'contrast');
  }
  background-color: color($accent, '700');
  position: sticky;
  bottom: 20px;
  float: right;
}

md-card {
  background-color: white;
}
