<h2 class="page-title">New Grand Prix</h2>
<div class="layout-row layout-xs-column layout-align-center-center">
  Choose Players
</div>
<div class="layout-row layout-xs-column layout-align-center-center">
  {{outlet}}
</div>